body {background: #f7f7f7; 
      font-family: Arial, Helvetica;
      border-radius: 6px;
      display: block;
      padding:24px 15px;
      }


h1 { 
color:#222831;
font-size: 30px;
}

h2{ 
color:#606470;
font-size:15px;
}

h3{ 
color:#ff570c;
font-size:18px;
}

h5{
color:#606470;
font-size: 15px;
font-style: bold;
}

p{
  color:#606470;
  font-size:15px;
}
   
profilepic { 
      float: right;
      margin: 0px 0 px 15px 15px;
}

header,
section,
aside,
footer{
      margin: 0 1,5% 24px 1.5%;
      
}


ul.no-bullets {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}

section{
float: left;
width: 63%;

      
aside { 
      background-color:lightgray;
      float: right;
      margin-left: 15px;
      padding-left: 15px;
      width: 30%;
      }


  
        progress::-webkit-progress-value {
            background-color:#ff570c;
        }



footer {
  clear:both;
  margin-bottom: 0;
  background-color:#606470; 
  color: white;
  padding: 10px;
  text-align: center;
      
} 

     



