
body {background: #f7f7f7; 
      font-family: Arial, Helvetica;
      box-sizing: border-box;
}


h1{ 
color:#606470;
font-size: 28px;
}

h2{ 
color:#606470;
font-size:10px;
}

h3{ 
color:#ff570c;
font-size:15px;
}

h5{
color:#606470;
font-size: 8px;
}


leftside{
  border-style: solid;
  border-left:30px;
  border-radius:30px;
  color:#606470; 
  height:50px;
      }

main{ float:center;
}
      
      
profilepic { float:right;
      maring:30px;
      border:1px solid#000000;
}

header{
      float:left;
      margin:20px;
      top:20%;
      left:20%;
}

nav{
      float:left;
      display:block;
      margin:18px;
      text-align: center;
      padding:16px;
}

section { width:200px;
           height:200px;
           position: fixed;
           top:50%;
           left:50%;
           margin-top:-100px;
           margin-left:-100px;
}

aside{ 
      background-color: lightgray;
      float: right;
      font-style: times new roman;
      margin-left: 15px;
      padding-left: 15px;
      width: 30%;
}

    movie{
          float: right;
          margin-left:30px;
          padding-left:30px;
}
      
      

      



