


body{
           background-color:grey;
            color:violet;
}
a:link {
  color: green; 
  background-color: transparent; 
  text-decoration: none;
}

           h1{ border: 32px;
            color: blueviolet;
               }

            h2{ border:22px:
                      color:violet;
}


             p {  font-size: 16px;
            color: rgb(0,0,139);
            background-color: lavender;
            font-family: "Helvetica", sans-serif;
              }

              ol{
                list-style-type: upper-roman;
                }

               ul{
               list-style-type: square;
               }

               div class ="myDiv"{ 
                background-color: dodgerblue; 
                border: 2px dotted red;
                }
               div class ="myDiv2"{ 
                background-color: lavender; 
                border: 2px dotted black;
                }

               .image-container {
                
                 height: 200px;
                 width: 200px;
               background-color: powderblue;
                  }
               

    
 




