          body{
           background-color:ivory;
            color:grey;
}


           h1{ border: 32px;
            color: blueviolet;
               }


             p {  font-size: 16px;
            color: rgb(0,0,139);
            background-color: lavender;
            font-family: "Helvetica", sans-serif;
              }

              ol{
                list-style-type: upper-roman;
                }

               ul{
               list-style-type: square;
               }

               .DivClass{ 
                background-color: dodgerblue; 
                border: 2px dotted red;
                }
  
               .image-container {
                width:200px;
                heigth:200px;
                background-color: black;
                 }

    
 




