


body{
           background-color:wheat;
         
}
a:link {
           
  color: black; 
  background-color: grey; 
  text-decoration: none;
  background-position: top right;
           border-radius:25px;
}

           h1{ border: 32px;
            color: black;
               }

            h2{ border:22px:
                      color:DarkMagenta;
}


             p {  font-size: 16px;
            color: rgb(0,0,139);
            background-color: DarkBlue;
            font-family: "Helvetica", sans-serif;
              }

              ol{
                list-style-type: upper-roman;
                }

               ul{
               list-style-type: square;
               }

               div class ="i1"{ 
                background-color: dodgerblue; 
                border: 2px dotted red;
                }

               div class ="i2"{ 
                background-color: lavender; 
                border: 2px dotted black;
                }

               .image-container {
                
                 height: 100px;
                 width: 100px;
               background-color: powderblue;
                border: 7px ridge blue;
             
                  }
               
#left{    
 float: left;  
 }  
 #right{    
 float: right;  
}
 




