          body{
           background-color:ivory;
            color:grey;
}


           h1{ border: 32px;
            color: blueviolet;
               }

            h2{ border:22px:
                      color:violet;
}


             p {  font-size: 16px;
            color: rgb(0,0,139);
            background-color: lavender;
            font-family: "Helvetica", sans-serif;
              }

              ol{
                list-style-type: upper-roman;
                }

               ul{
               list-style-type: square;
               }

               .DivClass{ 
                background-color: dodgerblue; 
                border: 2px dotted red;
                }
  
               .image-container {
                
                 height: 200px;
                 width: 200px;
               background-color: powderblue;
                  }
               

    
 




