


body{
           background-color:wheat;
         }

a:link {
           
  color: black; 
  background-color: white; 
  text-decoration: none;
  background-position: top right;
           border-radius:25px;
}

 h1{ color: black;
           border: 2px solid; 
}

h2{ color: Darkblue;
           border: 2px double;
}

.leftdiv{
float: left;
background-color:BurlyWood;
padding: 7%;
width:30%;
height:280px;
}

.rightdiv{
float: right;
padding: 7%;
border: 1px solid black;
background-color:white;
width:30%;
height:280px;
           
}

          

              ol{
                list-style-type: upper-roman;
                }

               ul{
               list-style-type: square;
               }

              
          
#pic1{ 
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px;
  width: 150px;
}
 
           
   
 #pic2{  
  float:right;margin-left:20px;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
 






