

body { background:#5585b5;
       font-family: Arial, Helvetica;
}

header { 
	background:#53a8b6;
	 font-size:28px;
	 padding: 25px;
	 text-align: center;
	
}

h2,h3,h4,h5{
	 font-size:15px;
	 padding:10px;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
	
nav li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
}
.nav li:hover {
  background-color: #0099cc;
}

aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: times new roman;
  background-color: lightgray;
}

article {
  background-color: #bbe4e9;
  padding: 10px;
}

section{ 
	background-color:#a2a8d3;
	padding:10px;
}

footer {
  background-color:#79c2d0;
  color: white;
  padding: 10px;
  text-align: center;
  
	
}

