


body{
           background-color:wheat;
         
}
a:link {
           
  color: black; 
  background-color: white; 
  text-decoration: none;
  background-position: top right;
           border-radius:25px;
}


#leftdiv
{
float: left;
background-color:BurlyWood;
}

#rightdiv
{
float: right;
background-color:BurlyWood;
}
div{
padding : 7%;
color: white;
background-color:grey;
width: 28%;
border: 1px solid black;
}

{ h1 : colour: darkblue;
           border: 2px solid; 
}
        
          

              ol{
                list-style-type: upper-roman;
                }

               ul{
               list-style-type: square;
               }

              
          
#left{ 
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px;
  width: 150px;
}
 
           
 }  
 #right{  
  .floatRight{float:right;margin-left:20px}
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px
}
 






