


body{
           background-color:##235784;
         }

a:link {
           
  color: black; 
  background-color: #b0aac0; 
  text-decoration: none;
  background-position: top right;
           border-radius:25px;
}

#leftbox {
                float:left; 
                background:#005792;
                width:25%;
                height:280px;
            }
            #middlebox{
                float:left; 
                background: #40a8c4;
                width:50%;
                height:280px;
            }
            #rightbox{
                float:right;
                background: #bcdbdf;
                width:25%;
                height:280px;
            }
            h1{
                color:black;
                text-align:center;
                border: 2px solid; 
                background-colour:#f7aa00;
              }
            h2 {
                  color:white; 
                  border-radius: 25px;
                }


              ol{
                list-style-type: upper-roman;
                }

               ul{
               list-style-type: square;
               }
          
img{
        max-width: 50%;
        max-height: 50%;
        display: block; 
}
 






